<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="../static/styles.css" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Anton&family=Jersey+25&display=swap');
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Jersey+25&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="uppernav">
      <div class="hamburger">
          <a href=""><img id="logo" src="../static/open-book.png" alt=""></a>
      </div>
      <h2 class="jersey-25-regular">flos</h2>

      <div class="login-icon">
        <a  href=""><img id="search-id" src="../static/user.png" alt="" style="height: 70%; padding-top: 6px;"></a>
      </div>      <div class="search-bar">
        <input type="text" class="form-control search-input" placeholder="Search...">
        <i class="fas fa-search search-icon"></i>
      </div>
      
     
    </div>
    <div class="aboutnav">
      <a href="" class="about-text inter">ABOUT</a>
      <a href="" class="about-text inter">REVIEW</a>
      <a href="" class="about-text inter">CONTRIBUTE</a>
      <a href="" class="about-text inter">HELP</a>
      <a href="" class="about-text inter">CONTACT</a>
      
    </div>
    <div class="container">
      <div class="container-left">
        <div class="container-title">
          <h1 class="anton-regular">Flos is a library of free study materials for Calicut University students</h1>
        </div>
        <div class="continer-para">
          <h4>An open source project build by students for students to download and upload notes and other study materials for completely free</h4>
          <h4>Create an account now so you can save your preferences</h4>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Sign Up
        </button>
      </div>
      <div class="container-right">
        <div class="index">
           
         </div> 
      </div>
    </div>
  </body>
</html>
